* {
    padding: 0px;
    margin: 0px;
}

.container {
    align-items: center;
    background-color: #eaf4f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.hero {
    width: 70%;
}

/* Mobile */
@media only screen and (max-width: 600px) {

    .hero {
        width: 90%;
        margin-top: 100px;
    }

    .container {
        justify-content: start;
    }

}

@media only screen and (max-width: 1024px) {

    .hero {
        width: 90%;
    }

}